body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

header {
    width: 100%;
    height: 490px;
    background: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 204px 0 228px;
    box-sizing: border-box;   
}

.logo {
    font-size: 110px;
    line-height: 33px;
    color: #d0d5d7;
    font-style: italic;
    font-family: 'PT Serif', serif;
	padding-left: 7px;
	box-sizing: border-box;
}

.links {
    height: 60px;
}

.link {
    text-decoration: none;
    font-size: 23px;
    color: #ffffff;
    text-transform: capitalize;
    margin-right: 40px;
}

.link:last-child {
    margin: 0;
}

.banner {
    width: 100%;
    height: 310px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 55px;
    box-sizing: border-box;
}

.arrow-left, .arrow-right {
    width: 50px;
    height: 50px;
    border: 4px solid rgba(250, 250, 250, .22);
    border-radius: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    cursor: pointer;
}
.arrow-left {
    padding-right: 4px;
}

.arrow-right {
    padding-right: 4px;
}

.arrow-right {
    transform: rotate(180deg);
}

.arrow-left:hover {
    transform: scale(1.3);
}

.arrow-right:hover {
    transform: scale(1.3) rotate(180deg);
}


.banner-content {
    width: 785px;
    height: 310px;
    display: flex;
    align-items: center;
}

.banner-image {
    width: 344px;
    height: 345px;
    padding-top: 40px;
    box-sizing: border-box;
}

.text {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-left: 70px;
    box-sizing: border-box;
    line-height: 65px;
}

.text-big {
    font-size: 65px;
}

.text-small {
    font-size: 45px;
    margin-bottom: 24px;
}

.button {
    width: 138px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(23, 92, 59, .9);
    font-size: 23px;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, .37);
    margin-left: 8px;
    cursor: pointer;
}

/*content*/



.tabs {
	width: 100%;
    height: 1165px;
    padding: 66px 125px 14px 132px;
	box-sizing: border-box;
    display: flex;
	flex-wrap: wrap;
}

.tabs__input {
    display: none;
}

.tabs__label {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
	padding: 65px 0 50px;
	box-sizing: border-box;
	margin-bottom: -1px;
	border: 1px solid transparent;
	
	
}

.hexagon {
	width: 136px;
	height: 80px;
	background: #6598e6;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hexagon:before {
	content: "";
	position: absolute;
	top: -40px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 68px solid transparent;
	border-right: 68px solid transparent;
	border-bottom: 40px solid #6598e6;
}

.hexagon:after {
	content: "";
	position: absolute;
	bottom: -40px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 68px solid transparent;
	border-right: 68px solid transparent;
	border-top: 40px solid #6598e6;
}

.hexagon_color_yellow {
	background: #fdcf0a;
}

.hexagon_color_yellow:before {
	border-bottom: 40px solid #fdcf0a;
}

.hexagon_color_yellow:after {
	border-top: 40px solid #fdcf0a;
}

.hexagon_color_green {
	background: #12b367;
}

.hexagon_color_green:before {
	border-bottom: 40px solid #12b367;
}

.hexagon_color_green:after {
	border-top: 40px solid #12b367;
}

.hexagon_color_orange {
	background: #e67624;
}

.hexagon_color_orange:before {
	border-bottom: 40px solid #e67624;
}

.hexagon_color_orange:after {
	border-top: 40px solid #e67624;
}

.tab__text {
	font-size: 27px;
	color: #7b7a7a;
	width: 153px;
	text-align: center;
	line-height: 28px;
}

.txt {
	width: 1000px;
	height: 785px;
	padding: 56px 70px 66px 56px;
	box-sizing: border-box;
	display: none;
	flex-direction: column;
	align-items: center;
	border: 1px solid #d7d7d7;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, .16);
}

.txt__title {
	width: 100%;
	font-size: 39px;
	color: #4f4f4f;
	padding-top: 10px;
	box-sizing: border-box;
}

.txt__text {
	font-size: 14px;
	line-height: 24px;
	color: #818181;
	padding: 26px 0 5px;
}

.tabs__input:checked + .tabs__label {
	border: 1px solid #d7d7d7;
	box-shadow: 4px -4px 5px 0px rgba(0, 0, 0, .16), -4px -4px 5px 0px rgba(0, 0, 0, .16);
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
	border-bottom: 1px solid #fff;
	position: relative;
	z-index: 1;
	background: #fff;
}

#tab_1:checked ~ #txt_1,
#tab_2:checked ~ #txt_2,
#tab_3:checked ~ #txt_3,
#tab_4:checked ~ #txt_4 {
	display: flex; 
}

/*WhyUs*/


.whyUs {
	width: 100%;
	height: 400px;
	padding: 2px 113px;
	box-sizing: border-box;
	display: flex;
	align-items: flex-start;
	border-bottom: 1px solid #e5e5e5;
}

.whyUs__text {
	padding: 40px 0 0 33px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.whyUs__text-ask {
	font-size: 33px;
	color: #4f4f4f;
	margin-bottom: 10px;
}

.whyUs__text-answer {
	font-size: 16px;
	line-height: 38px;
	color: #8a8888;
	display: flex;
	align-items: center;
}

.whyUs__circule {
	margin-right: 10px
}

/*registration*/

.registration {
	width: 100%;
	height: 167px;
	padding: 22px 130px 5px;
	box-sizing: border-box;
	display: flex;
	align-items: flex-start;
}

.login-form, .subscribe-form {
	width: 470px;
	height: 110px;
	padding: 16px 16px 20px 28px;
	border-radius: 3px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #e67624;
	margin-right: 65px;
}

.subscribe-form_bg_other {
	background: #01d4f3;
}

.login-form__text, .subscribe-form__text {
	font-size: 28px;
	line-height: 21px;
	color: #fff;
}

.login-form__inputs, .subscribe-form__inputs {
	width: 100%;
	height: 33px;
	display: flex;
	align-items: center;
}

.login-form__input, .subscribe-form__input {
	outline: none;
	border: none;
	height: 27px;
	padding: 5px 10px;
	box-sizing: border-box;
	font-size: 16px;
}

.login-form__btn, .subscribe-form__btn {
	
	height: 31px;
	background: #444444;
	color: #c3c3c3;
	font-size: 16px;
	border: none;
	text-align: center;
	cursor: pointer;
}

.login-form__input_size_m {
	width: 150px;
	margin-right: 12px;
}

.login-form__input_size_l {
	width: 155px;
	margin-right: 14px;
}

.subscribe-form__input_size_xl {
	width: 265px;
	margin-right: 50px;
}

.login-form__btn_size_xs {
	width: 95px;
}

.subscribe-form__btn_size_s {
	width: 110px;
}

.subscribe-form__btn_bg_light {
	background: #029bb1;
}

/*footer*/

.footer {
	width: 100%;
	height: 242px;
	display: flex;
	align-items: flex-start;
	padding: 30px 100px 40px;
	box-sizing: border-box;
	background: #2e2b2a;
}

.footer__block {
	width: 180px;
	height: 100%;
	padding-left: 75px;
	box-sizing: border-box;
}

.footer__title {
	font-size: 22px;
	line-height: 33px;
	color: #fff;
}

.footer__text {
	font-size: 13px;
	line-height: 22px;
	color: #ababaa;
	padding-left: 3px;
}

.footer__text_bold {
	font-weight: bold;
	color: #c7c8c8;
}

.footer__block_size_xxl {
	width: 390px;
}

.footer__block_size_xxs {
	padding: 55px 0 0 45px;
	width: 290px;
}

.footer__copy {
	font-size: 13px;
	line-height: 22px;
	font-family: Arial;
	color: #fff;
	padding-top: 50px;
	box-sizing: border-box;
}

.logo_color_durk {
	color: #5a5b55;
}

.footer__arrow-left {
	padding-left: 59px;
	padding-top: 6px;
}

.footer__arrow-right {
	padding: 0 6px 6px 0;
	transform: rotate(180deg);
}

.footer__title_align {
	display: flex;
	align-items: center;
}



